.testimonial__section {
    margin-top: -45px;
    padding-top: 4rem;
    /*background-color: #686464;*/
    background: rgba(30,30,30,1);
}

.testimonials__header {
    /*display: flex;*/
    /*height: 90vh;*/
    /*align-items: center;*/
    justify-content: center;
    /*font-size: 3rem;*/
    /*color: #000000;*/
    color: #fff;
}

.testimonial__slider__container {
    padding: 5rem;
    /*width: 100%;*/
    display: flex;
    flex-flow: column;
    /*max-width: 1120px;*/
    margin: 0 auto;
}

.testimonial__slider__card {
    margin: 0 auto;
    padding: 1rem;
    /*box-shadow: s0 6px 20px rgba(56, 125, 255, 0.17);*/
    /*-webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));*/
    /*filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));*/
    border-radius: 10px;
    text-align: center;
    max-width: 1120px;
}

.service__testimonials {
    /*background-color: #fff;*/
    /*background-color: #686464;*/
    background: rgba(30,30,30,1);
    color: #fff;
    /*height: 35vh;*/
    /*height: 300px;*/
}

.testimonials__divider {
    margin: 0 auto;
    width: 30%;
    border: 3px solid #05D73E;
    border-radius: 10px;
}

.author {
    color: #05D73E;
}

@media screen and (max-width: 960px) {
    .testimonial__slider__container {
        padding: 1.5rem;
    }
    .testimonial__slider__card {

    }
}
