* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  -ms-overflow-style: none;  /* Hide scrollbar on IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar on Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Hide scrollbar on Chrome */
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
}

.main__container {
  flex: 1 0 auto;
}

.home,
/*.services,*/
/*.about,*/
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  display: flex;
  /*height: 90vh;*/
  /*align-items: center;*/
  justify-content: center;
  font-size: 3rem;
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin-top: 100px;*/
  padding: 3rem 0;
  color: #000000;
  font-size: 2rem;
}

.about {
  margin-top: 40px;
  color: #000000;
  font-size: 3rem;
}

/*.container__404 {*/
/*  margin: 17.5em;*/
/*}*/

.about__container {
  /*padding: 14rem;*/
  padding: 5rem;
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.about__text {
  padding: 2rem;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
}

@media screen and (max-width: 960px) {
  .about__container {
    padding: 1rem;
  }
}
